.root {
    position: relative;
    margin: 5px 0 5px 0;
    display: flex;
    gap: 10px;
    transition: opacity 0.5s;
}

.productImg {
    width: 60px;
    height: 60px;
}

.productImg img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.dataProduct {
    height: 48px;
    width: 100%;
    display: grid;
    row-gap: 8px;
}

.addOrDeleteProduct {
    padding: 4px 6px 4px 6px; /* todo исправить потом*/
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;
    width: 72px;
    background-color: #EFEEF4;
    border-radius: 4px;
}

.countProduct {
    padding: 0 8px 0 8px;
}

.buttonPlusOrMinus {
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: none;

    display: grid;
    align-content: center;
    justify-content: center;
}

.priceBox {
    display: grid;
    justify-items: end;
}

.price {
    font-size: 1.2em;
    font-weight: 500;
    color: #5C6970;
}

.deleteMark {
    position: absolute;
    left: 95%;
    height: 60px;
    width: 300px;
    display: grid;
    justify-items: left;
    align-items: center;
    padding-left: 14px;

    opacity: 0;

    border-radius: 4px 0 0 4px;
    background-color: #D35151;
    transition: opacity 0.5s;
}

.root:hover .deleteMark {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.deleteMark:hover {
    opacity: 1;
    width: 100px;
    left: 67%;
    transition: padding-right 1s ease-in;
}

.root:hover {
    animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.select {
    width: 20px;
}