.rootWithoutDescr {
    display: grid;
    grid-template-rows: calc(288px + 24px) 124px;
    min-width: 320px;
    height: 436px;
    padding: 16px;
    border: 1px solid #FFFFFF;
}

.rootDescr {
    min-width: 320px;
    height: 436px;
    padding: 16px;
    border: 1px solid #FFFFFF;
}

.main {
    display: grid;
    grid-template-rows: 24px auto;
}

.header {
    width: max-content;
    display: flex;
    align-items: center; /* todo не по центру */
    justify-items: center;
    gap: 4px;
    border-radius: 4px;
    background-color: #fff;
    padding: 2px 4px;
}

.sale {
    color: #3625FF;
}

.productPhoto {
    display: grid;
    height: 288px;
    align-items: center;
    justify-items: center;
}

.infoWithDescr {
    height: 436px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.infoWithoutDescr {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
}

.productName {
    height: 16px;
    display: grid;
    align-content: center;
}

.aboutProductFull {
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.4em;
    margin: 0;
}

.aboutProductShort {
    font-weight: 500;
    font-size: 0.9em;
    height: 36px;
    margin: 0;
    color: #5C6970;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.idkWhatIsiT {
    height: 20px;
    display: flex;
    padding: 2px 4px;
    gap: 4px;

    background-color: #fff;
    border-radius: 4px;
    width: max-content;
}

.shortInfo {
    display: grid;
    row-gap: 4px;
}

.grid {
    margin: 0;
    display: grid;
    grid-template-areas: 'text text'
                         'text2 button';
}

p {
    font-size: 0.9em;
    font-weight: 500;
    word-spacing: 1px;
    color: #5C6970;
}

.grid1 {
    display: grid;
    grid-area: text;
}

.grid2 {
    display: grid;
    grid-area: text2;
}

.grid3 {
    display: grid;
    grid-area: button;
    margin-left: 3px;
}

.readMore {
    display: grid;
    align-content: end;
    width: max-content;
    color: #3625FF;
    background-color: transparent;
}

.gridButton {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 23px;
    width: 70px;
}

.price {
    display: flex;
    gap: 8px;
    height: 24px;
    align-items: center;
}

.buttonAddToCart {
    height: 24px;
    display: flex;
    gap: 4px;
    justify-items: center;
    align-items: center;


    padding: 0 8px 0 4px;
    border-radius: 4px;
    background-color: #3625FF;
    color: white;
}

.priceWithoutSale {
    color: #5C6970;
    text-decoration: line-through;
}
