.root {
    position: fixed;
    width: 100%;
    height: 64px;
    border: 1px solid #FFFFFF;
    display: grid;

    background: #EFEEF4;
    z-index: 100;
}

.header {
    display: grid;
    height: 28px;
    grid-template-columns: auto 67px;
    align-self: center;
    column-gap: 8px;
    padding: 0 14px 0 14px;
}

.searchButton {
    display: grid;
    align-items: center;
    height: 28px;
    border-radius: 4px;
}

.searchButtonWhenSearch {
    border-radius: 4px 0 0 4px;
}

button {
    padding: 0;
    background-color: #FFFFFF;
    border: none;
    font-weight: 600;
    color: #5C6970;
}

.search {
    display: grid;
    grid-template-columns: auto 8px;
    column-gap: 10px;
    align-items: center;
    background-color: #FFFFFF;
    padding-right: 6px;
    border-radius: 0 4px 4px 0;

    transition:  0.7s ease;
}

input {
    height: 28px;
    padding: 0 10px 0 5px;
    border: none;
    font-weight: 600;
    color: #5C6970;
}
input:focus {
    outline: none;
}

.searchOrCategory {
    display: grid;
    grid-template-columns: 28px auto;
}

.categories {
    margin-left: 8px;
    height: 28px;
    display: flex;
    gap: 1px;
    align-content: center;
    overflow-x: scroll;
    overflow-scrolling: touch;
    white-space: nowrap;
    border-radius: 4px;

    transition: all 1s ease;
}

.oneCategory {
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
    font-size: 15px;
}

.activeCategory {
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
    font-size: 15px;

    background-color: #3625FF;
    color: white;

    transition: all 0.2s ease-in-out;
}

.cartWithoutProducts {
    height: 28px;
    display: grid;
    align-items: center;
    grid-template-columns: 20px auto;
    column-gap: 4px;
    padding: 0 8px 0 6px;
    border-radius: 4px;

    color: #3625FF;
    font-weight: 600;

    transition: all 0.2s ease-out;
}

.cartWithProducts {
    background-color: #3625FF;
    color: white;

    transition: all 0.2s ease-out;
}
.countCartProducts {
    display: grid;
    justify-content: center;
    align-content: center;

    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #3625FF;
    border-radius: 200px;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 101;

    font-weight: 600;

    transition: all 0.2s ease-out;
}

.categories::-webkit-scrollbar {
    height: 0;
}

.categories::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.categories::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}