.App {
    background: #EFEEF4;
    color: #2E3438;
    font-weight: 500;
    font-size: 0.9em;
    height: 100vh;
    /*font-family: 'Inter', sans-serif;*/

}

button {
    cursor: pointer;
}

p {
    margin: 0;
}

.App {
    cursor: default;
}

body {
    overflow: hidden;
}
